{
  display: none;
}

.active {
  display: block
}




header {
  background-color: #3838A1;
  height: 150px;
  margin-top: -40px;
}


h1 {
  color: #D4D4EA;
  text-align: center;
  font-size: 3em;
  padding-top:50px;
}

.container p {
  text-align: center;
}

.albumhome {
  height: 100px;
  width: 100px;  
}

.album1 {
  padding-left: 150px;
  padding-bottom: 50px;
}

.album1 img {
  margin-top: 30px;
  height: 200px;
  width: 200px;
}

.album4 {
  margin: 50px;
}

.album4 img {
  margin-top: 30px;
  height: 200px;
  width: 250px;
}

.album2 {
  margin: 50px;
}

.album2 img {
  margin-top: 30px;
  height: 200px;
  width: 250px;
}

.album5 {
  margin: 50px;
}

.album5 img {
  margin-top: 30px;
  height: 200px;
  width: 250px;
}

.album3 {
  margin: 50px;
}

.album3 img {
  margin-top: 30px;
  height: 200px;
  width: 150px;
}

.album6 {
  margin: 50px;
}

.album6 img {
  margin-top: 30px;
  height: 200px;
  width: 250px;
}

.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background: #3838A1;
}

.navbar {
  margin-top: 200px;
  font-size: 1.5em;
}

.navbar ul {
  float: left;
  list-style-type: none;
  text-decoration: none;
}

.navbar li {
  list-style-type: none;
  text-decoration: none;
}
