.page {
  display: none;
}

.active {
  display: block
}

header {
  background-color: #3838A1;
  height: 150px;
  margin-top: -40px;
}


h1 {
  color: #D4D4EA;
  text-align: center;
  font-size: 3em;
  padding-top:50px;
}

.container p {
  text-align: center;
}

.col-lg-4 {
  width: 33%;
  height: 350px;
}

.homePage {
  margin-left: 125px;
  height: 100px;
  width: 100px;
}

.homePage img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.places {
  margin-left: 125px;
  height: 100px;
  width: 100px;
  margin: 50px;
}

.places img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.favorites {
  padding-left: 150px;
  padding-bottom: 50px;
  margin-left: 125px;
  height: 100px;
  width: 100px;
}

.favorites img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.bahamas {
  margin: 50px;
  margin-left: 125px;
  height: 100px;
  width: 100px;
}

.bahamas img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.cerulean {
  margin: 50px;
  margin-left: 125px;
  height: 100px;
  width: 100px;
}

.cerulean img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.family {
  margin: 50px;
  margin-left: 125px;
  height: 100px;
  width: 100px;
}

.family img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.blizzard {
  margin: 50px;
  margin-left: 125px;
  height: 100px;
  width: 100px;
}

.blizzard img {
  margin-top: 30px;
  height:270px;
  width: 270px;
}

.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background: #3838A1;
}

.navbar {
  margin-top: 200px;
  font-size: 1.5em;
}

.navbar ul {
  float: left;
  list-style-type: none;
  text-decoration: none;
}

.navbar li {
  list-style-type: none;
  text-decoration: none;
}
